<!-- Product View -->
<div class="product-view">
    <div class="product" *ngFor="let product of products" (click)="productClicked(product)">
        <div [style.backgroundImage]="'url(' + product.imageUrl + ')'" class="product-image">
            <div class="product-add-hover-over">+</div>
        </div>

        <h2>{{product.name}}</h2>
        <h3>${{product.price}}</h3>
    </div>
</div>

<!-- Cart View -->
<cart-view [isLiveCart]="true"
    [cartData]="cartData"
     (cartPlusClick)="cartPlusClicked($event)"
    (cartMinusClick)="cartMinusClicked($event)" 
    (cartRemoveClick)="cartRemoveClicked($event)"
    (checkoutClick)="checkoutClicked()"></cart-view>