<div class="cart-view">
  <div class="cart-item-list">
    <div class="cart-item" *ngFor="let cartRecord of cartData.cartRecords">
      <div class="item-info">
        <h1>{{cartRecord.product.name}}</h1>
        <h2>Quantity: {{cartRecord.quantity}}</h2>
      </div>
      <div class="item-total">
        <h2>${{cartRecord.getTotal()}}</h2>
      </div>
      <div class="item-actions">
        <button class="mini-buttons" *ngIf="isLiveCart" [disabled]="cartRecord.quantity === 1" (click)="cartMinusClicked(cartRecord)">-</button>
        <button class="mini-buttons" *ngIf="isLiveCart" (click)="cartPlusClicked(cartRecord)">+</button>
        <button *ngIf="isLiveCart" (click)="cartRemoveClicked(cartRecord)">Delete</button>
      </div>

    </div>
  </div>
  <div class="cart-summary">
    <h4>Total ${{cartData.total}}</h4>
    <button class="checkout-button" *ngIf="isLiveCart" (click)="checkoutClicked()">Checkout</button>
</div>
</div>